DEBUG=False
ALLOWED_HOSTS="127.0.0.1,localhost"
CORS_ALLOWED_ORIGINS="https://frontend.com,https://frontend2.com"

# Twitter
# Get from https://developer.twitter.com/
TWITTER_ACCESS_KEY="consumer_key"
TWITTER_SECRET_KEY="consumer_secret"

# S3
AWS_ACCESS_KEY_ID="access_key"
AWS_SECRET_ACCESS_KEY="secret_key"
AWS_STORAGE_BUCKET_NAME="hol4mund0"
AWS_S3_ENDPOINT_URL="https://s3.domain/"

# Database
SQL_PASSWORD="password"
SQL_USER="user"
SQL_HOST="host"
SQL_PORT=5432
SQL_DATABASE="database-name"
