DEBUG=True
ALLOWED_HOSTS="127.0.0.1,localhost"
CORS_ALLOWED_ORIGINS="https://frontend.com,https://frontend2.com"


# Twitter
# Get from https://developer.twitter.com/
TWITTER_ACCESS_KEY="consumer_key"
TWITTER_SECRET_KEY="consumer_secret"