Django==6.0.4
djangorestframework==3.17.1
markdown==3.4.3
django-filter==25.2
django-autoslug==1.9.9
Pillow==12.2.0
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.12
gunicorn==25.3.0
requests==2.33.1
requests-oauthlib==2.0.0
python-decouple==3.8
django-storages[s3]==1.14.6
drf-spectacular==0.29.0